<template>
  <b-container v-if="artist">
    <h1>{{ artist.name }}</h1>

    <b-container class="mt-4">
      <b-row class="mb-5 justify-content-center">
        <b-col v-for="album in albums" :key="album.id" cols="12" sm="12" md="8" lg="6">
          <div class="playlist">
            <b-card
              no-body
              style="max-width: 40rem;"
              class="mb-3"
            >
              <b-card-body>
                <b-card-title>{{ album.name }}</b-card-title>
                <b-card-sub-title v-if="album.genre">{{ album.genre.name }}</b-card-sub-title>

                <div class="playAll">
                  <b-button href="#" variant="primary" @click="$store.dispatch('player/playNow', { tracks: album.tracks })">
                    <i class="fas fa-play"></i>
                  </b-button>
                    
                  <b-dropdown v-if="$store.state.auth.token" id="dropdown-1" variant="info" class="ml-2" no-caret>
                    <i slot="button-content" class="fas fa-plus"></i>

                    <b-dropdown-item v-for="playlist in playlists" :key="playlist.id"
                      @click="saveAlbum(playlist.id, album.id)"
                    >
                      {{ playlist.name }}
                    </b-dropdown-item>

                    <b-dropdown-item @click="saveAlbum(null, album.id)">+ Новый плейлист</b-dropdown-item>
                  </b-dropdown>
                </div>

                <b-card-text v-if="album.description">{{ album.description }}</b-card-text>
              </b-card-body>
              
              <b-list-group flush>
                <b-list-group-item v-for="(track, i) in album.tracks" :key="track.id"
                  class="d-flex align-items-center justify-content-between"
                >
                  <span>{{ i + 1 }}. {{ track.title }}</span>
                  
                  <div>
                    <b-button href="#" variant="primary" @click="$store.dispatch('player/playNow', { tracks: [ track ] })">
                      <i class="fas fa-play"></i>
                    </b-button>
                    
                    <b-dropdown v-if="$store.state.auth.token" id="dropdown-1" variant="info" class="ml-2" no-caret>
                      <i slot="button-content" class="fas fa-plus"></i>

                      <b-dropdown-item v-for="playlist in playlists" :key="playlist.id"
                        @click="saveTrack(playlist.id, track.id)"
                      >
                        {{ playlist.name }}
                      </b-dropdown-item>

                      <b-dropdown-item @click="saveTrack(null, track.id)">+ Новый плейлист</b-dropdown-item>
                    </b-dropdown>
                  </div>
                </b-list-group-item>
              </b-list-group>
            </b-card>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
import axios from 'axios';
import config from '@/config.json';

export default {
  name: 'Library',
  data() {
    return {
      artist: null,
      albums: []
    }
  },
  computed: {
    playlists() {
      return this.$store.state.auth.playlists;
    }
  },
  methods: {
    saveTrack(playlist, track) {
      this.$store.dispatch('auth/saveTrack', { playlist, track });
    },
    saveAlbum(playlist, album) {
      this.$store.dispatch('auth/saveAlbum', { playlist, album });
    }
  },
  watch: {
    'artist': async function() {
      this.albums = [];
      
      if (this.artist) {
        for (const { id } of this.artist.albums) {
          try {
            const result = await axios.get(config.apiURL + `/streaming/albums/${id}`);

            if (!result.data.error) {
              this.albums.push(result.data.content.album);
            } else {
              throw result.data.error;
            }
          } catch (e) {
            console.error(e);
          }
        }
      }

      console.log(this.albums);
    }
  },
  async created() {
    const id = this.$route.params.id;

    try {
      const result = await axios.get(config.apiURL + `/streaming/artists/${id}`);

      if (!result.error) {
        this.artist = result.data.content.artist;
      } else {
        throw result.error_text;
      }
    } catch (e) {
      console.error(e);
    }
    //this.artist = data;
  }
}
</script>

<style scoped>
.playAll {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 1;
}
</style>
