<template>
  <b-container>
    <h1>Медиатека</h1>

    <b-container class="mt-4">
      <b-row class="mb-5 justify-content-center">
        <b-col v-for="(playlist, i) in playlists" :key="i" cols="12" sm="12" md="8" lg="6">
          <div class="playlist">
            <b-card
              no-body
              style="max-width: 40rem;"
              class="mb-3"
            >
              <b-card-body>
                <b-card-title>{{ playlist.name }}</b-card-title>

                <div class="playAll">
                  <b-button href="#" variant="primary" @click="$store.dispatch('player/playNow', { tracks: playlist.tracks })">
                    <i class="fas fa-play"></i>
                  </b-button>
                    
                  <b-button id="dropdown-1" variant="danger" class="ml-2" @click="removePlaylist(playlist.id)">
                    <i slot="button-content" class="fas fa-minus"></i>
                  </b-button>
                </div>
              </b-card-body>
              
              <b-list-group flush>
                <b-list-group-item v-for="(track, i) in playlist.tracks" :key="i"
                  class="d-flex align-items-center justify-content-between"
                >
                  <span>{{ i + 1 }}. {{ track.title }}</span>
                  
                  <div>
                    <b-button href="#" variant="primary" @click="$store.dispatch('player/playNow', { tracks: [ track ] })">
                      <i class="fas fa-play"></i>
                    </b-button>
                    
                    <b-button id="dropdown-1" variant="danger" class="ml-2" @click="removeTrack(playlist.id, track.id)">
                      <i slot="button-content" class="fas fa-minus"></i>
                    </b-button>
                  </div>
                </b-list-group-item>
              </b-list-group>
              <!--<b-button href="#" variant="primary">Слушать</b-button>-->
            </b-card>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
import axios from 'axios';
import config from '@/config.json';

export default {
  name: 'Library',
  computed: {
    playlists() {
      return this.$store.state.auth.playlists;
    }
  },
  methods: {
    removeTrack(playlist, track) {
      this.$store.dispatch('auth/removeTrack', { playlist, track });
    },
    removePlaylist(playlist) {
      this.$store.dispatch('auth/removePlaylist', { playlist });
    }
  }
}
</script>

<style scoped>
.playAll {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 1;
}
</style>
