<template>
  <b-container v-if="top">
    <b-container class="mt-4">
      <b-row class="mb-5 justify-content-center">
        <b-col cols="12" sm="12" md="8" lg="6">
          <div class="playlist">
            <b-card
              no-body
              style="max-width: 40rem;"
              class="mb-3"
            >
              <b-card-body>
                <b-card-title>{{ top.name }}</b-card-title>

                <div class="playAll">
                  <b-button href="#" variant="primary" @click="$store.dispatch('player/playNow', { tracks: top.tracks })">
                    <i class="fas fa-play"></i>
                  </b-button>
                </div>
              </b-card-body>
              
              <b-list-group flush>
                <b-list-group-item v-for="(track, i) in top.tracks" :key="track.id"
                  class="d-flex align-items-center justify-content-between"
                >
                  <span>{{ i + 1 }}. {{ track.title }}</span>
                  
                  <div>
                    <b-button href="#" variant="primary" @click="$store.dispatch('player/playNow', { tracks: [ track ] })">
                      <i class="fas fa-play"></i>
                    </b-button>
                    
                    <b-dropdown v-if="$store.state.auth.token" id="dropdown-1" variant="info" class="ml-2" no-caret>
                      <i slot="button-content" class="fas fa-plus"></i>

                      <b-dropdown-item v-for="playlist in playlists" :key="playlist.id"
                        @click="saveTrack(playlist.id, track.id)"
                      >
                        {{ playlist.name }}
                      </b-dropdown-item>

                      <b-dropdown-item @click="saveTrack(null, track.id)">+ Новый плейлист</b-dropdown-item>
                    </b-dropdown>
                  </div>
                </b-list-group-item>
              </b-list-group>
            </b-card>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
import axios from 'axios';
import config from '@/config.json';

export default {
  name: 'Library',
  data() {
    return {
      top: null,
    }
  },
  methods: {
    getName(id) {
      switch (id) {
        case 'Russia':
          return 'Топ России';
        case 'World':
          return 'Топ мира';
      }

      return id;
    }
  },
  async created() {
    const id = this.$route.params.id;

    try {
      const result = await axios.get(config.apiURL + `/streaming/top/${id}`);

      if (!result.error) {
        this.top = {
          id: id,
          name: this.getName(id),
          tracks: result.data.content.tracks
        }
      } else {
        throw result.error;
      }
    } catch (e) {
      console.error(e);
    }
  }
}
</script>

<style scoped>
.playAll {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 1;
}
</style>
