<template>
  <div id="app">
    <b-navbar toggleable="lg" type="light" variant="faded">
      <b-navbar-brand to="/">Muse</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/home" active-class="active">Главная</b-nav-item>
          <b-nav-item v-if="user" to="/library" active-class="active">Медиатека</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav v-if="playing" class="ml-auto">
          <b-nav-dropdown variant="link" :text="playing.title" no-caret class="mb-2">
            <template v-if="$store.state.player.queue.length > 0">
              <b-dropdown-item v-for="(track, i) in $store.state.player.queue" :key="i" disabled>
                {{ i + 1 }}. {{ track.title }}
              </b-dropdown-item>
            </template>

            <template v-else>
              <b-dropdown-item disabled>
                Очередь пуста
              </b-dropdown-item>
            </template>
          </b-nav-dropdown>

          <b-nav-form class="justify-content-center" style="padding: 0">
            <b-button variant="primary" v-if="$store.state.player.paused" @click="$store.dispatch('player/unpause')">
              <i class="fas fa-play"></i>
            </b-button>

            <b-button variant="info" v-else @click="$store.dispatch('player/pause')">
              <i class="fas fa-pause"></i>
            </b-button>

            <b-button class="ml-1" variant="primary" v-if="$store.state.player.queue.length > 0" @click="$store.dispatch('player/next')">
              <i class="fas fa-forward"></i>
            </b-button>
          </b-nav-form>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <template v-if="user">
            <b-nav-text>{{ user.last_name }} {{ user.first_name }}</b-nav-text>
            <b-nav-item @click="logout">Выйти</b-nav-item>
          </template>

          <template v-else>
            <b-nav-item v-b-modal.registerModal>Зарегистрироваться</b-nav-item>
            <b-nav-item v-b-modal.loginModal>Войти</b-nav-item>
          </template>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <router-view/>

    <b-modal id="registerModal" title="Регистрация" @ok="register">
      <b-form-group class="mb-0">
        <b-form-group
          label-cols-sm="2"
          label="Логин:"
          label-align="right"
        >
          <b-form-input v-model="input.username"></b-form-input>
        </b-form-group>

        <b-form-group
          label-cols-sm="2"
          label="Пароль:"
          label-align="right"
        >
          <b-form-input type="password" v-model="input.password"></b-form-input>
        </b-form-group>

        <b-form-group
          label-cols-sm="2"
          label="E-mail:"
          label-align="right"
        >
          <b-form-input type="email" v-model="input.email"></b-form-input>
        </b-form-group>

        <b-form-group
          label-cols-sm="2"
          label="Фамилия:"
          label-align="right"
        >
          <b-form-input v-model="input.last_name"></b-form-input>
        </b-form-group>

        <b-form-group
          label-cols-sm="2"
          label="Имя:"
          label-align="right"
        >
          <b-form-input v-model="input.first_name"></b-form-input>
        </b-form-group>

        <b-form-group
          label-cols-sm="2"
          label="Отчество:"
          label-align="right"
        >
          <b-form-input v-model="input.middle_name"></b-form-input>
        </b-form-group>
      </b-form-group>

      <span slot="modal-cancel">Отмена</span>
      <span slot="modal-ok">Зарегистрироваться</span>
    </b-modal>

    <b-modal id="loginModal" title="Вход" @ok="login">
      <b-form-group class="mb-0">
        <b-form-group
          label-cols-sm="2"
          label="Логин:"
          label-align="right"
        >
          <b-form-input v-model="input.username"></b-form-input>
        </b-form-group>

        <b-form-group
          label-cols-sm="2"
          label="Пароль:"
          label-align="right"
        >
          <b-form-input type="password" v-model="input.password"></b-form-input>
        </b-form-group>
      </b-form-group>

      <span slot="modal-cancel">Отмена</span>
      <span slot="modal-ok">Войти</span>
    </b-modal>

    <audio ref="player"></audio>
  </div>
</template>

<script>
import config from '@/config.json';

export default {
  data() {
    return {
      input: {
        username: '',
        password: '',
        email: '',
        first_name: '',
        middle_name: '',
        last_name: ''
      }
    }
  },
  computed: {
    user() {
      return this.$store.state.auth.user;
    },
    playing() {
      return this.$store.state.player.playing;
    }
  },
  methods: {
    register(e) {
      this.$store.dispatch('auth/signup', {
        username: this.input.username,
        password: this.input.password,
        email: this.input.email,
        first_name: this.input.first_name,
        middle_name: this.input.middle_name,
        last_name: this.input.last_name,
      });
    },
    login(e) {
      this.$store.dispatch('auth/login', {
        username: this.input.username,
        password: this.input.password
      });
    },
    logout(e) {
      e.preventDefault();
      e.stopPropagation();
      this.$store.dispatch('auth/logout')
    },
    play() {
      this.$refs.player.src = `${config.apiURL}/streaming/listen/${this.playing.id}/`;
      this.$refs.player.play();
    },
    pause() {
      this.$refs.player.pause();
    },
    unpause() {
      this.$refs.player.play();
    },
    ended() {
      this.$store.dispatch('player/next');
    }
  },
  mounted() {
    this.$refs.player.addEventListener('ended', this.ended);
  },
  created() {
    window.addEventListener('play', this.play);
    window.addEventListener('pause', this.pause);
    window.addEventListener('unpause', this.unpause);
  },
  destroyed() {
    window.removeEventListener('play', this.play);
    window.removeEventListener('pause', this.pause);
    window.removeEventListener('unpause', this.unpause);
  }
}
</script>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
